<div class="container" id="today">
    <h1 class="text-white">
        <img src="./assets/quote.jpeg" class="img-right" alt="mark">
        <strong style="font-family: fantasy; color: black;">Today's quotes</strong>
        <img src="./assets/quote.jpeg" class="img-right" alt="mark">
    </h1>
    <div class="row card-column">
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/Bob marley.jpeg" alt="Card image cap">
                <div class="card-header" style="color: black; font-family: fantasy;">Quote</div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black; font-family: fantasy;">"None but ourselves can free our minds."
                    </h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Bob Marley</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/JD.jpeg" alt="Card image cap">
                <div class="card-header" style="font-family: fantasy; color: black;">Quote</div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black; font-family: fantasy;">"What really knocks me out is a book that, 
                        when you're all done reading it, you wish the author that wrote it was a terrific friend of yours 
                        and you could call him up on the phone whenever you felt like it. That doesn't happen much, though.
                        "</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>J.D. Salinger, The Catcher in the Rye</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/wolf.jpeg" alt="Card image cap">
                <div class="card-header" style="font-family: fantasy; color: black;">Quote</div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black; font-family: fantasy;">"Quiet people have the loudest minds.</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Stephen King</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/music.jpeg" alt="Card image cap">
                <div class="card-header" style="font-family: fantasy; color: black;">Quote</div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black; font-family: fantasy;">"Which is the true nightmare, the horrific dream that you have in your sleep or 
                        the dissatisfied reality that awaits you when you awake?"</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em> Justin Alcala</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="favourite">
    <div class="card mb-4">
        <img class="card-img-top" src="./assets/guitar.jpeg" style="height: 40%;" alt="Card image cap">
        <div class="card-header text-black-50">
            <h4>
                <img src="./assets/left.png" class="img-left float-left" alt="mark"><br>
                <p style="font-family: fantasy; color: black; font-size: 50px;">Quote of the Day!</p>
                <img src="./assets/right.png" class="img-right float-right" alt="mark">
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black p-2">
                <h2>
                    Without music, life would be a mistake<br>
                </h2>
                <footer class="blockquote-footer">
                    <h4>Author</h4> <cite title="Author">
                        <h5><em>Friedrich Nietzsche
                        </em></h5>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <br>
</div>